@import 'bourbon';

$base-size: 12pt;
$base-color: #444;
$border-color: #eee;

body {
  color: $base-color;
  font-size: $base-size;
  font-family: 'Dosis', sans-serif;
  line-height: $base-size * 1.3;
}

.container {
  padding: 0 1em;
}

form {
  margin: 2em 0;
  label { display: none; }

  input[type='text'] {
    border: 1px solid $border-color;
    font-size: $base-size * 1.3;
    padding: .5em;
  }

  input[type='submit'] {
    @include button(simple, #fcfcfc);
    margin-top: .875em;
  }
}

ul.locations {
  margin-top: 2em;

  li.location {
    border-radius: 4px;
    border: 1px solid $border-color;
    min-height: 10em;
    margin-bottom: 1.5em;
    $li-padding: .75em;

    > header {
      padding: $li-padding $li-padding $li-padding - .3em;
      margin-bottom: .5em;
      border-bottom: 1px solid $border-color;
      background: #fafafa;

      h1 { font-size: $base-size * 1.4; font-weight: 700; }
      h2 { font-size: $base-size * 0.9; line-height: 1.5em; }

      h1 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-bottom: .3em;
      }

      h2 {
        text-align: right;
        color: lighten($base-color, 40%);
      }
    }

    > section {
      padding: $li-padding/3 $li-padding $li-padding;
    }

    .image-wrapper {
      border: 1px solid $border-color;
    }
  }
}
